@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
	html, body, p{
		margin:0;
		padding:0;

	}

	header, footer{
		background-color:#d4b562; /*Couleur de fond*/
		text-align:center;/*texte centré*/
	}

	body{
		font-family: 'Calistoga', cursive;
	  background-image: url(http://getwallpapers.com/wallpaper/full/8/5/0/1394178-amazing-black-and-gold-background-1920x1080.jpg);
	  color: black;
	}

	li{
	list-style: none;
}

	main{
		margin : 50px;
	}

	footer{
	padding:20px 20px;/*Marge verticale*/
}
	/*----------------------------FLEX------------------------------------*/

	.menu{
		display: flex;
		flex-direction: row;
		justify-content: center;
	  	text-align: center;
	        list-style: none; 
	        padding: 0; 
	        margin: 0;  
	}
	.experiencespro { 
	        background-color: #d4b562;
	}

	.experiencesperso { 
	        background-color: #d4b562;
	}

	.formations { 
	        background-color: #d4b562;
	}
	.apropos {
			background-color: #d4b562;
	}

	.cv {
			background-color: #d4b562;
	}

	.contact{
			background-color: #d4b562;
	}

	a { 
	        color: black; 
	        font-size: 1em;
	        text-decoration: none; 
	}

	.menu{
	        display:flex;
	        align-items:center;
	        justify-content : center;
	        height:6em;
	}

	.menu, .experiencespro, .experiencesperso, .formations, .apropos, .cv, .contact{
	        flex:1;
	        height: 3em;
	}
/*-------------------- GRID CV-------------------- */
.wrapper{
			  display: grid;
			  grid-template-columns: 0.1fr 1.5fr 4fr 0.1fr;
			  grid-template-rows: repeat (6,1fr);
			  grid-gap: 1em

	}

	.aboutme {
		grid-column: 2/3;
		grid-row: 1/4;
		background-color: #d4b562;
		border-radius: 5px
	}
	.boxcontent4 {
 			grid-column: 3/4;
	        grid-row:: 1/2;
			background-color: #d4b562;
			border-radius: 5px

	}
	.boxcontent4{
		text-align: center;
	}
	.boxcontent5 {
 			grid-column: 3/4;
	        grid-row:: 2/3;
			background-color: #d4b562;
			border-radius: 5px

	}
	.boxcontent5{
		text-align: center;
	}
.boxcontent6 {
 			grid-column: 3/4;
	        grid-row:: 3/4;
			background-color: #d4b562;
			border-radius: 5px

	}
	.boxcontent6{
		text-align: center;
	}

/* ------------------ A PROPOS -----------*/

#aboutme, .name, .domain, .skills, .hobbies, li{
	text-align: center;
	}
