/*----------------------------------------------------CSS Classique------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	}

header, footer{
	background-color:#d4b562; /*Couleur de fond*/
	text-align:center;/*texte centré*/
	}

body{
	font-family: 'Calistoga', cursive;
	background-image: url(http://getwallpapers.com/wallpaper/full/8/5/0/1394178-amazing-black-and-gold-background-1920x1080.jpg);
	color: black;
	}

main{
	margin : 2rem 0;
	}

.centercolumn, .lien{
	width:930px;/*Taille de la colonne centrée moins le padding*/
	background-color:#d4b562;/*Couleur de fond*/
	margin: auto; /*centrer la colonne*/
	padding:25px;/*marge interne*/
	justify-content: center;
}

li{
	list-style: none;
}

h1,h2,h3, .lien{
	text-align: center;
}

footer{
	padding:20px;/*Marge verticale*/
}

/*----------------------------FLEX------------------------------------*/

.menu{
	display: flex;
	justify-content: center;
	text-align: center;
	list-style: none; 
	padding: 0; 
	margin: 0;
	background-color: #d4b562;  
	}

a{ 
	color: black; 
	font-size: 1em;
	text-decoration: none; 
	}

.menu{
	display:flex;
	align-items:center;
	justify-content : center;
	}

.menu, li{
	flex:1;
	height: 3em;
	}

/*------------------------------------------GRID CV-------------------------------------*/
.wrapper{
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: repeat (6,1fr);
	grid-gap: 1em
	border-radius:5px;
	}

.aboutme{
	grid-column: 1/2;
	grid-row: 1/4;
	background-color: #d4b562;
	}

.boxcontent4{
 	grid-column: 2/3;
	grid-row:: 1/2;
	background-color: #d4b562;

	}

.boxcontent4{
	text-align: center;
	}

.boxcontent5{
 	grid-column: 2/3;
	grid-row:: 2/3;
	background-color: #d4b562;
	}

.boxcontent5{
	text-align: center;
	}

.boxcontent6{
 	grid-column: 2/3;
	grid-row:: 3/4;
	background-color: #d4b562;
	}

.boxcontent6{
text-align: center;
	}



